.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: seagreen;
}
.main-container {
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: row;
  justify-content: space-evenly;
}
.header-container {
  margin: auto;
  font-size: 86px;
  font-weight: bolder;
}
